.question-container {
  padding: 15px;
  border-bottom: solid 0.8px #dbdef0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.question {
  color: #293264;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.answers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  gap: 20px;
}

label {
  color: #293264;
  text-align: center;
  font-family: "Inter";
  font-size: 10.24px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 7.942px;
  border: 0.794px solid #4d5b9e;
  cursor: pointer;
}

input:checked ~ label {
  background: #d6dbf5;
}

input:disabled ~ label {
  opacity: 0.5;
}

input:disabled ~ .correct-answer,
input:checked ~ .correct-answer {
  background: #94d7a2;
  opacity: 1;
  border: none;
}

input:checked ~ .incorrect-answer {
  background: #f8bcbc;
  border: none;
}
